<div *ngIf="!loading && userRole === 'admin'"  > <!-- *ngIf="userRole === 'admin'" -->

    <div class="card-container">
        <mat-card class="create-patient-card">
            <mat-card-header>
                <mat-card-title>Create patient</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="createPatientForm" #formDirective="ngForm" >
                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="firstName" >
                            <mat-error *ngIf="createPatientForm.controls.firstName.errors?.['required']"> First name field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Last name</mat-label>
                            <input matInput formControlName="lastName" required>
                            <mat-error *ngIf="createPatientForm.controls.lastName.errors?.['required']"> Last name field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Age</mat-label>
                            <input matInput type="number" formControlName="age" min="1" max="110" required>
                            <mat-error *ngIf="createPatientForm.controls.age.errors?.['required']"> Age field is required </mat-error>
                            <mat-error *ngIf="createPatientForm.controls.age.errors?.['min']"> Age field is too low </mat-error>
                            <mat-error *ngIf="createPatientForm.controls.age.errors?.['max']"> Age field is too hight </mat-error>
                            <!-- <mat-error *ngIf="createPatientForm.controls.age.errors?.['pattern']">Age must be a number</mat-error> -->
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" required>
                                <mat-option value="male">male</mat-option>
                                <mat-option value="female">female</mat-option>
                            </mat-select>
                            <mat-error *ngIf="createPatientForm.controls.gender.errors?.['required']"> Gender field is required </mat-error>
                            </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" required>
                            <mat-error *ngIf="createPatientForm.controls.address.errors?.['required']"> Address field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="userId" required>
                            <mat-error *ngIf="createPatientForm.controls.userId.errors?.['required']"> Username field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="createPatientForm.controls.password.errors?.['required']"> Password field is required </mat-error>
                        </mat-form-field>
                    </div>
                    <mat-card-actions align="end">
                        <div>
                            <button mat-raised-button color="primary" (click)="onSubmitPatient(formDirective)">Create patient</button>
                        </div>
                    </mat-card-actions>

                </form>
            </mat-card-content>
        </mat-card>

        <br>

        <mat-card class="create-doctor-card">
            <mat-card-header>
                <mat-card-title>Create doctor</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="createDoctorForm" #formDirective="ngForm">
                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>First name</mat-label>
                            <input matInput formControlName="firstName" required>
                            <mat-error *ngIf="createDoctorForm.controls.firstName.errors?.['required']"> First name field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Last name</mat-label>
                            <input matInput formControlName="lastName" required>
                            <mat-error *ngIf="createDoctorForm.controls.lastName.errors?.['required']"> Last name field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Age</mat-label>
                            <input matInput type="number" formControlName="age" min="1" max="110" required>
                            <mat-error *ngIf="createDoctorForm.controls.age.errors?.['required']"> Age field is required </mat-error>
                            <mat-error *ngIf="createDoctorForm.controls.age.errors?.['min']"> Age field is too low </mat-error>
                            <mat-error *ngIf="createDoctorForm.controls.age.errors?.['max']"> Age field is too hight </mat-error>
                            <!-- <mat-error *ngIf="createDoctorForm.controls.age.errors?.['pattern']">Age must be a number</mat-error> -->
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Gender</mat-label>
                            <mat-select formControlName="gender" required>
                                <mat-option value="male">male</mat-option>
                                <mat-option value="female">female</mat-option>
                            </mat-select>
                            <mat-error *ngIf="createDoctorForm.controls.gender.errors?.['required']"> Gender field is required </mat-error>
                            </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Address</mat-label>
                            <input matInput formControlName="address" required>
                            <mat-error *ngIf="createDoctorForm.controls.address.errors?.['required']"> Address field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Specialization</mat-label>
                            <input matInput formControlName="specialization" required>
                            <mat-error *ngIf="createDoctorForm.controls.specialization.errors?.['required']"> Specialization field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Username</mat-label>
                            <input matInput formControlName="userId" required>
                            <mat-error *ngIf="createDoctorForm.controls.userId.errors?.['required']"> Username field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <div>
                        <mat-form-field appearance="fill" >
                            <mat-label>Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                            </button>
                            <mat-error *ngIf="createDoctorForm.controls.password.errors?.['required']"> Password field is required </mat-error>
                        </mat-form-field>
                    </div>

                    <mat-card-actions align="end">
                        <div>
                            <button mat-raised-button color="primary" (click)="onSubmitDoctor(formDirective)">Create doctor</button>
                        </div>
                    </mat-card-actions>
                </form>
            </mat-card-content>

        </mat-card>
    </div>

    <br>

    <div class="table-container">
        <div class="table-item" >
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Patient List
                    </mat-panel-title>
                    <mat-panel-description>
                    click to show

                    </mat-panel-description>
                </mat-expansion-panel-header>

                <table mat-table [dataSource]="patientList" class="mat-elevation-z8">

                    <ng-container matColumnDef="patientId">
                        <th mat-header-cell *matHeaderCellDef> Id. </th>
                        <td mat-cell *matCellDef="let patient"> {{patient.userId}} </td>
                    </ng-container>


                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                        <td mat-cell *matCellDef="let patient"> {{patient.firstName}} </td>
                    </ng-container>


                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let patient"> {{patient.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef> Age </th>
                        <td mat-cell *matCellDef="let patient"> {{patient.age}} </td>
                    </ng-container>


                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef> Gender </th>
                        <td mat-cell *matCellDef="let patient"> {{patient.gender}} </td>
                    </ng-container>


                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>
                        <td mat-cell *matCellDef="let patient"> {{patient.address}} </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedPatientColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedPatientColumns;"></tr>
                </table>

                </mat-expansion-panel>
        </div>
        <div class="table-item" >

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                    Doctor List
                    </mat-panel-title>
                    <mat-panel-description>
                    click to show

                    </mat-panel-description>
                </mat-expansion-panel-header>


                <table mat-table [dataSource]="doctorList" class="mat-elevation-z8">

                    <ng-container matColumnDef="doctorId">
                        <th mat-header-cell *matHeaderCellDef> Id. </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.userId}} </td>
                    </ng-container>


                    <ng-container matColumnDef="firstName">
                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.firstName}} </td>
                    </ng-container>


                    <ng-container matColumnDef="lastName">
                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.lastName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="age">
                        <th mat-header-cell *matHeaderCellDef> Age </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.age}} </td>
                    </ng-container>


                    <ng-container matColumnDef="gender">
                        <th mat-header-cell *matHeaderCellDef> Gender </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.gender}} </td>
                    </ng-container>


                    <ng-container matColumnDef="address">
                        <th mat-header-cell *matHeaderCellDef> Address </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.address}} </td>
                    </ng-container>

                    <ng-container matColumnDef="specialization">
                        <th mat-header-cell *matHeaderCellDef> Specialization </th>
                        <td mat-cell *matCellDef="let doctor"> {{doctor.specialization}} </td>
                    </ng-container>



                    <tr mat-header-row *matHeaderRowDef="displayedDoctorColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedDoctorColumns;"></tr>
                </table>



                </mat-expansion-panel>
        </div>
    </div>
</div>



<div *ngIf="userRole !== 'admin' && !loading">
    <p>You don't have permission to see this page!.</p>
</div>



