.card-container {
    display: flex;
    justify-content: space-between;
}

.patient-current-medical-data-card {
    margin-top: 100px;
    margin-bottom: 50px;

    flex: 1;
    margin-left: 300px;

    padding: 10px;
    border: 1px solid #ded9d9;
    max-width: 30%;
    // max-height: 70%;
}

.create-patient-medical-data-card {
    flex: 1;
    max-width: 400px;
    margin-top: 20px;
    margin-right: 400px;
    padding: 10px;
    border: 1px solid #ded9d9;

}

.patient-history-data-card {
    margin: 100px;
    border: 1px solid #ded9d9;
}




// mat-list-item {

//     word-wrap: break-word;
//     // white-space: normal;
//     overflow: hidden;
//     text-overflow: ellipsis;
// }

mat-list-item {
    word-break: break-all;
}



td , th {
    white-space: normal;
    word-wrap: break-word;
    max-width: 200px;
}
