<p>
    <mat-toolbar color="primary">
        <button
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
            routerLink="/"
        >
            <mat-icon>health_and_safety</mat-icon>
        </button>
        <span [style.cursor]="'pointer'" routerLink="/" >Health Care</span>

        <span class="example-spacer"></span>

        <a *ngIf="!userService.isLoggedIn" mat-button (click)="openDialog()"  >Login</a>

        <a *ngIf="userService.userRole === 'doctor'" mat-button routerLink="/doctor/{{userService.getUserIdFromToken()}}">Your patients</a>
        <a *ngIf="userService.userRole === 'doctor'" mat-button routerLink="/edit-doctor/{{userService.getUserIdFromToken()}}">Edit</a>
        <a *ngIf="userService.userRole === 'admin'" mat-button routerLink="/admin/create-user/">Create user</a>
        <a *ngIf="userService.userRole === 'admin'" mat-button routerLink="/admin/patient-list/">Patient list</a>
        <a *ngIf="userService.userRole === 'admin'" mat-button routerLink="/admin/doctor-list/">Doctor list</a>
        <a *ngIf="userService.userRole === 'patient'" mat-button routerLink="/patient-diagnosis/{{userService.getUserIdFromToken()}}">Patient medical data</a>
        <a *ngIf="userService.userRole === 'patient'" mat-button routerLink="/patient/{{userService.getUserIdFromToken()}}">Grant access to doctor</a>
        <a *ngIf="userService.userRole === 'patient'" mat-button routerLink="/edit-patient/{{userService.getUserIdFromToken()}}">Edit</a>



        <a *ngIf="userService.isLoggedIn" mat-button (click)="userService.logOut()" >Logout</a>

        <button
            mat-icon-button
            [matMenuTriggerFor]="menu"
            class="example-icon account_circle"
            aria-label="Example icon-button with account icon"
        >
            <mat-icon>account_circle</mat-icon>
        </button>

        <mat-menu #menu="matMenu">
            <button *ngIf="!userService.isLoggedIn" mat-menu-item (click)="openDialog()" >Login</button>

            <button *ngIf="userService.isLoggedIn" mat-menu-item (click)="userService.logOut()" >Log out</button>

            <button *ngIf="userService.userRole === 'doctor' && userService.isLoggedIn" mat-menu-item  routerLink="/edit-doctor/{{userService.getUserIdFromToken()}}">Edit</button>
            <button *ngIf="userService.userRole === 'patient' && userService.isLoggedIn" mat-menu-item  routerLink="/edit-patient/{{userService.getUserIdFromToken()}}">Edit</button>
        </mat-menu>

    </mat-toolbar>


</p>

<router-outlet></router-outlet>
