
<mat-card class="user-detail-card" *ngIf="userDetails">
    <mat-card-header>
    <mat-card-title>Your details</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <!-- <p><strong>Allergies:</strong> <span>{{patientMedicalData.allergies}}</span></p>
    <p><strong>Conditions:</strong> <span>{{patientMedicalData.conditions}}</span></p>
    <p><strong>Medications:</strong> <span>{{patientMedicalData.medications}}</span></p>
    <p><strong>Treatment Plans:</strong> <span>{{patientMedicalData.treatmentPlans}}</span></p> -->

    <mat-list >
        <mat-list-item><span><strong>First name:</strong>{{userDetails.firstName}}</span></mat-list-item>
        <mat-list-item><span><strong>Last name:</strong> {{userDetails.lastName}}</span></mat-list-item>
        <mat-list-item><span><strong>Age:</strong> {{userDetails.age}}</span></mat-list-item>
        <mat-list-item><span><strong>Address:</strong> {{userDetails.address}}</span></mat-list-item>
        <mat-list-item><span><strong>Gender:</strong> {{userDetails.gender}}</span></mat-list-item>
        <mat-list-item *ngIf="userDetails.specialization"><span><strong>Specialization:</strong> {{userDetails.specialization}}</span></mat-list-item>
    </mat-list>

    </mat-card-content>
</mat-card>

