.spinner {
    margin-top: 150px;
  }

.create-diagnosis-card {
    max-width: 400px;
    margin: auto;

    padding: 10px;
    border: 1px solid #ded9d9;
    // max-width: 30%;
    // max-height: 70%;

}



.create-patient-medical-data-card {
    flex: 1;
    max-width: 400px;
    margin-top: 20px;
    // margin-right: 400px;
    // margin-right: 10%;


    padding: 10px;
    border: 1px solid #ded9d9;



}

.create-patient-medical-data-card-no-data {
    max-width: 400px ;
    margin: 20px auto ;
    padding: 10px ;
    border: 1px solid #ded9d9 ;

}


mat-form-field {
    width: 300px;

  }
