<div *ngIf="!isProgressSpinner">
    <mat-card [ngClass]="{'create-patient-medical-data-card': patientMedicalData, 'create-patient-medical-data-card-no-data': !patientMedicalData}">
        <mat-card-header>
            <mat-card-title>Create {{patientId}} medical data </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="createMedicalDataForm">

                <div formArrayName="allergies">
                    <div *ngFor="let allergy of allergies.controls; let i = index">
                        <mat-form-field appearance="fill" >
                            <mat-label>allergy{{i}}</mat-label>
                            <input matInput [formControlName]="i" required>
                            <mat-error *ngIf="allergy.errors?.['required']"> Allergy{{i}} field is required </mat-error>
                            <button mat-icon-button matSuffix (click)="addInput('allergies')" *ngIf="counterObject['allergies'] === i">
                                <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
                            </button>
                            <button mat-icon-button matSuffix (click)="removeInput('allergies', i)" *ngIf="counterObject['allergies'] === i && counterObject['allergies'] > 0" >
                                <mat-icon [ngStyle]="{'color': 'red'}" aria-hidden="false" aria-label="Example add icon" fontIcon="close"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>

                <div formArrayName="conditions">
                    <div *ngFor="let condition of conditions.controls; let i = index">
                        <mat-form-field appearance="fill" >
                            <mat-label>condition{{i}}</mat-label>
                            <input matInput [formControlName]="i" required>
                            <mat-error *ngIf="condition.errors?.['required']"> Condition{{i}} field is required </mat-error>
                            <button mat-icon-button matSuffix (click)="addInput('conditions')" *ngIf="counterObject['conditions'] === i">
                                <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
                            </button>
                            <button mat-icon-button matSuffix (click)="removeInput('conditions', i)" *ngIf="counterObject['conditions'] === i && counterObject['conditions'] > 0" >
                                <mat-icon [ngStyle]="{'color': 'red'}" aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon>
                            </button>
                        </mat-form-field>
                    </div>
                </div>

                <div formArrayName="medications">
                    <div *ngFor="let medication of medications.controls; let i = index">
                        <div>
                            <mat-form-field appearance="fill" >
                                <mat-label>medication{{i}}</mat-label>
                                <input matInput [formControlName]="i" required>
                                <mat-error *ngIf="medication.errors?.['required']"> Medication{{i}} field is required </mat-error>
                                <button mat-icon-button matSuffix (click)="addInput('medications')" *ngIf="counterObject['medications'] === i">
                                    <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
                                </button>
                                <button mat-icon-button matSuffix (click)="removeInput('medications', i)" *ngIf="counterObject['medications'] === i && counterObject['medications'] > 0" >
                                    <mat-icon [ngStyle]="{'color': 'red'}" aria-hidden="false" aria-label="Example close icon" fontIcon="close"></mat-icon>
                                </button>
                            </mat-form-field>

                        </div>
                    </div>

                </div>


                <div>
                    <mat-form-field appearance="fill">
                        <mat-label>treatment plans</mat-label>
                        <textarea matInput formControlName="treatmentPlans" required></textarea>
                        <mat-error *ngIf="createMedicalDataForm.controls.treatmentPlans.errors?.['required']"> Treatment plans field is required </mat-error>
                    </mat-form-field>
                </div>

            </form>
        </mat-card-content>
        <mat-card-actions align="end">
            <div class="submit-button">
                <button mat-raised-button color="primary" (click)="onSubmit()">Create diagnosis</button>
            </div>
        </mat-card-actions>
      </mat-card>


</div>
<mat-spinner class="spinner" *ngIf="isProgressSpinner" ></mat-spinner>
