<div *ngIf="!isProgressSpinner">
    <form [formGroup]="createMedicalDataForm">
        <div>
            <mat-form-field appearance="fill" >
                <mat-label>conditions</mat-label>
                <input matInput formControlName="conditions" required>
            </mat-form-field>
        </div>

        <div formArrayName="medications">
            <div *ngFor="let medication of medications.controls; let i = index">
                <div>
                    <mat-form-field appearance="fill" >
                        <mat-label>medication{{i}}</mat-label>
                        <input matInput [formControlName]="i" >
                        <button mat-icon-button matSuffix (click)="addInput()">
                            <mat-icon aria-hidden="false" aria-label="Example add icon" fontIcon="add"></mat-icon>
                        </button>
                    </mat-form-field>

                </div>
                <div>

                </div>
            </div>

        </div>

        <div>
            <mat-form-field appearance="fill" >
                <mat-label>allergies</mat-label>
                <input matInput  formControlName="allergies" required>
            </mat-form-field>
        </div>



        <div>
            <mat-form-field appearance="fill">
                <mat-label>treatmentPlans</mat-label>
                <textarea matInput formControlName="treatmentPlans" required></textarea>
            </mat-form-field>
        </div>

        <div class="submit-button">
            <button mat-raised-button color="primary" (click)="onSubmit()">Create diagnosis</button>
        </div>

    </form>
</div>
<mat-spinner class="spinner" *ngIf="isProgressSpinner" ></mat-spinner>
