.table-container {
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
}

.table-item {
    flex-grow: 1;
    margin-right: 8px;
}

.card-container {
    display: flex;
    justify-content: space-between;
}

.create-patient-card {
    flex: 1;
    max-width: 400px;
    margin: 20px;
    margin-left: 400px;
    padding: 10px;
    border: 1px solid #ded9d9;
    margin-bottom: 100px;

}

.create-doctor-card {
    flex: 1;
    max-width: 400px;
    margin: 20px;
    margin-right: 400px;
    padding: 10px;
    border: 1px solid #ded9d9;
}

mat-form-field {
    width: 300px;

  }
